[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
channels = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-jazzmin = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
