{% extends 'chat/base.html' %}

{% block title %}Sign up | {% endblock %}

{% block content %}
<div>
    <h1>Sign up</h1>
</div>

<form method="post" action=".">
    {% csrf_token %}

    <div class="mb-5">
        <label">Username</label>

        <input type="text" name="username">
    </div>

    <div class="mb-5">
        <label>Password</label>

        <input type="password" name="password1">
    </div>

    <div class="mb-5">
        <label">Repeat password</label>

        <input type="password" name="password2">
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
                <div>
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button>Submit</button>
</form>
{% endblock %}